In [1]:
# Import dependencies
import wbgapi as wb
import pandas as pd

In [2]:
# Look at help for series (data streams)
help(wb.series)

Help on module wbgapi.series in wbgapi:

NAME
    wbgapi.series - Access information about series in a database

FUNCTIONS
    Series(id='all', q=None, topic=None, db=None, name='SeriesName')
        Return a pandas Series by calling list

    get(id, db=None)
        Retrieve a specific series object

        Arguments:
            id:     the series identifier

            db:     database; pass None to access the global database

        Returns:
            a series object

        Example:
            print(wbgapi.series.get('SP.POP.TOTL')['value'])

    info(id='all', q=None, topic=None, db=None)
        Print a user report of series. This can be time consuming
        for large databases like the WDI if 'all' series are requested.

        Arguments:
            id:         a series identifier or list-like of identifiers

            q:          search string (on series name))

            topic:      topic ID or list-like

            db:         database; pass None to access the global database

        Returns:
            None

    list(id='all', q=None, topic=None, db=None)
        Return a list of series elements in the current database

        Arguments:
            id:     a series identifier (i.e., CETS code) or list-like

            q:      search string (on series name)

            topic:  topic ID or list-like

            db:     database; pass None to access the global database

        Returns:
            a generator object

        Example:
            for elem in wbgapi.series.list():
                print(elem['id'], elem['value'])

FILE
    c:\users\elott\anaconda3\envs\pythondataone\lib\site-packages\wbgapi\series.py

In [3]:
# creates API call that returns a pandas Series of series (data streams) available in World Bank's World Development Indicators database
series = wb.series.Series()
series

AG.AGR.TRAC.NO                        Agricultural machinery, tractors
AG.CON.FERT.PT.ZS    Fertilizer consumption (% of fertilizer produc...
AG.CON.FERT.ZS       Fertilizer consumption (kilograms per hectare ...
AG.LND.AGRI.K2                              Agricultural land (sq. km)
AG.LND.AGRI.ZS                      Agricultural land (% of land area)
                                           ...
VC.IDP.NWDS          Internally displaced persons, new displacement...
VC.IDP.TOCV          Internally displaced persons, total displaced ...
VC.IHR.PSRC.FE.P5    Intentional homicides, female (per 100,000 fem...
VC.IHR.PSRC.MA.P5       Intentional homicides, male (per 100,000 male)
VC.IHR.PSRC.P5              Intentional homicides (per 100,000 people)
Name: SeriesName, Length: 1442, dtype: object

In [4]:
# turn series(data streams) variable results into a DataFrame
series_df = pd.DataFrame(series)
series_df = series_df.reset_index(level=0)
series_df = series_df.rename(columns={'index':'series_id', 'SeriesName': 'series_name'})
series_df['series_id'] = series_df['series_id'].astype('string')
series_df['series_name'] = series_df['series_name'].astype('string')
series_df.sort_values(by = ['series_id'])
series_df.head()

           series_id                                        series_name
0     AG.AGR.TRAC.NO                   Agricultural machinery, tractors
1  AG.CON.FERT.PT.ZS  Fertilizer consumption (% of fertilizer produc...
2     AG.CON.FERT.ZS  Fertilizer consumption (kilograms per hectare ...
3     AG.LND.AGRI.K2                         Agricultural land (sq. km)
4     AG.LND.AGRI.ZS                 Agricultural land (% of land area)

In [5]:
# export to csv for review of WDI series(data streams) for review and decision of what should be included in ETL
series_df.to_csv('series_review.csv')

In [6]:
#create DataFrame that contains only the series(data streams) that will be loaded
series_list = ['EG.ELC.ACCS.ZS', 'EN.ATM.CO2E.PC', 'FX.OWN.TOTL.ZS', 'IC.BUS.DFRN.XQ', 'IC.FRM.BRIB.ZS', 'IC.LGL.CRED.XQ', 
    'IT.CEL.SETS.P2', 'LP.LPI.OVRL.XQ', 'MS.MIL.XPND.GD.ZS', 'NE.CON.PRVT.PC.KD', 'NY.GDP.PCAP.CD', 'NY.GDP.PCAP.KD.ZG',
    'SE.ADT.LITR.FE.ZS', 'SE.ADT.LITR.MA.ZS', 'SE.ADT.LITR.ZS', 'SE.PRM.CMPT.ZS', 'SE.SEC.CUAT.UP.ZS', 'SG.GEN.PARL.ZS',
    'SH.DYN.MORT', 'SH.STA.MMRT', 'SH.STA.SUIC.P5',	'SH.XPD.CHEX.GD.ZS', 'SH.XPD.GHED.GD.ZS', 'SH.XPD.PVTD.CH.ZS', 'SI.POV.GINI',
    'SL.EMP.TOTL.SP.ZS', 'SL.TLF.0714.ZS', 'SL.TLF.ACTI.ZS', 'SL.UEM.TOTL.ZS', 'SP.RUR.TOTL.ZS']
series_df_filter = series_df[series_df['series_id'].isin(series_list)]
series_df_filter

              series_id                                        series_name
201      EG.ELC.ACCS.ZS            Access to electricity (% of population)
229      EN.ATM.CO2E.PC             CO2 emissions (metric tons per capita)
338      FX.OWN.TOTL.ZS  Account ownership at a financial institution o...
395      IC.BUS.DFRN.XQ  Ease of doing business score (0 = lowest perfo...
414      IC.FRM.BRIB.ZS  Bribery incidence (% of firms experiencing at ...
434      IC.LGL.CRED.XQ  Strength of legal rights index (0=weak to 12=s...
512      IT.CEL.SETS.P2     Mobile cellular subscriptions (per 100 people)
526      LP.LPI.OVRL.XQ  Logistics performance index: Overall (1=low to...
534   MS.MIL.XPND.GD.ZS                    Military expenditure (% of GDP)
549   NE.CON.PRVT.PC.KD  Households and NPISHs Final consumption expend...
686      NY.GDP.PCAP.CD                       GDP per capita (current US$)
689   NY.GDP.PCAP.KD.ZG                   GDP per capita growth (annual %)
766   SE.ADT.LITR.FE.ZS  Literacy rate, adult female (% of females ages...
767   SE.ADT.LITR.MA.ZS  Literacy rate, adult male (% of males ages 15 ...
768      SE.ADT.LITR.ZS  Literacy rate, adult total (% of people ages 1...
785      SE.PRM.CMPT.ZS  Primary completion rate, total (% of relevant ...
844   SE.SEC.CUAT.UP.ZS  Educational attainment, at least completed upp...
911      SG.GEN.PARL.ZS  Proportion of seats held by women in national ...
946         SH.DYN.MORT    Mortality rate, under-5 (per 1,000 live births)
1012        SH.STA.MMRT  Maternal mortality ratio (modeled estimate, pe...
1035     SH.STA.SUIC.P5    Suicide mortality rate (per 100,000 population)
1061  SH.XPD.CHEX.GD.ZS              Current health expenditure (% of GDP)
1068  SH.XPD.GHED.GD.ZS  Domestic general government health expenditure...
1075  SH.XPD.PVTD.CH.ZS  Domestic private health expenditure (% of curr...
1088        SI.POV.GINI                                         Gini index
1132  SL.EMP.TOTL.SP.ZS  Employment to population ratio, 15+, total (%)...
1175     SL.TLF.0714.ZS  Children in employment, total (% of children a...
1184     SL.TLF.ACTI.ZS  Labor force participation rate, total (% of to...
1230     SL.UEM.TOTL.ZS  Unemployment, total (% of total labor force) (...
1337     SP.RUR.TOTL.ZS           Rural population (% of total population)

In [18]:
# Create API call to retrieve series (data streams) data. API call can't pass list of ids, run 5 at a time 
response1 = wb.data.DataFrame(['EG.ELC.ACCS.ZS', 'EN.ATM.CO2E.PC', 'FX.OWN.TOTL.ZS', 'IC.BUS.DFRN.XQ', 'IC.FRM.BRIB.ZS'], time = range(2018, 2021))
response2 = wb.data.DataFrame(['IC.LGL.CRED.XQ', 'IT.CEL.SETS.P2', 'LP.LPI.OVRL.XQ', 'MS.MIL.XPND.GD.ZS', 'NE.CON.PRVT.PC.KD'], time = range(2018, 2021))
response3 = wb.data.DataFrame(['NY.GDP.PCAP.CD', 'NY.GDP.PCAP.KD.ZG', 'SE.ADT.LITR.FE.ZS', 'SE.ADT.LITR.MA.ZS', 'SE.ADT.LITR.ZS'], time = range(2018, 2021))
response4 = wb.data.DataFrame(['SE.PRM.CMPT.ZS', 'SE.SEC.CUAT.UP.ZS', 'SG.GEN.PARL.ZS', 'SH.DYN.MORT', 'SH.STA.MMRT'], time = range(2018, 2021))
response5 = wb.data.DataFrame(['SH.STA.SUIC.P5',	'SH.XPD.CHEX.GD.ZS', 'SH.XPD.GHED.GD.ZS', 'SH.XPD.PVTD.CH.ZS', 'SI.POV.GINI'], time = range(2018, 2021))
response6 = wb.data.DataFrame(['SL.EMP.TOTL.SP.ZS', 'SL.TLF.0714.ZS', 'SL.TLF.ACTI.ZS', 'SL.UEM.TOTL.ZS', 'SP.RUR.TOTL.ZS'], time = range(2018, 2021))

In [19]:
# Concantenate responses into one Pandas series. Change to DataFrame. Correct dtypes
frames = [response1, response2, response3, response3, response4, response5, response6]
dextract = pd.concat(frames)
dextract_df = dextract.reset_index()
dextract_df = dextract_df.rename(columns={'economy':'country_code', 'series': 'series_id'})
dextract_df['country_code'] = dextract_df['country_code'].astype('string')
dextract_df['series_id'] = dextract_df['series_id'].astype('string')
dextract_df.dtypes

country_code     string
series_id        string
YR2018          float64
YR2019          float64
YR2020          float64
dtype: object

In [20]:
# Add column with average of three years' data. Drop individual year columns. Drop NaN nad rename columns, change dtypes so objects are strings 
dtransform1_df = dextract_df
dtransform1_df['value'] = dtransform1_df[['YR2018','YR2019','YR2019']].mean(axis=1)
dtransform1_df = dtransform1_df.drop(columns=['YR2018','YR2019', 'YR2020'])
dtransform1_df = dtransform1_df.dropna()
dtransform1_df

     country_code          series_id       value
0             ABW     EG.ELC.ACCS.ZS  100.000000
5             AFE     EG.ELC.ACCS.ZS   43.867866
6             AFE     EN.ATM.CO2E.PC    0.914914
8             AFE     IC.BUS.DFRN.XQ   53.332704
10            AFG     EG.ELC.ACCS.ZS   97.338710
...           ...                ...         ...
9304          ZMB     SP.RUR.TOTL.ZS   56.111667
9305          ZWE  SL.EMP.TOTL.SP.ZS   80.415332
9307          ZWE     SL.TLF.ACTI.ZS   83.976667
9308          ZWE     SL.UEM.TOTL.ZS    4.820667
9309          ZWE     SP.RUR.TOTL.ZS   67.790333

[6393 rows x 3 columns]

In [21]:
# Merge series DataFrame with Transform DataFrame on series_name and drop series-id
dtransform2_df = dtransform1_df.merge(series_df_filter, how = 'left', on = 'series_id')
dtransform2_df = dtransform2_df.drop(['series_id'], axis=1)
dtransform2_df = dtransform2_df[['country_code', 'series_name','value']]
dtransform2_df.head()

  country_code                                        series_name       value
0          ABW            Access to electricity (% of population)  100.000000
1          AFE            Access to electricity (% of population)   43.867866
2          AFE             CO2 emissions (metric tons per capita)    0.914914
3          AFE  Ease of doing business score (0 = lowest perfo...   53.332704
4          AFG            Access to electricity (% of population)   97.338710

In [22]:
# Transpose DataFrame
dtransform3_df = dtransform2_df
dtransform3_df = dtransform3_df.pivot_table(values='value', index = 'country_code', columns = 'series_name')
dtransform3_df.head()

series_name,Access to electricity (% of population),Bribery incidence (% of firms experiencing at least one bribe payment request),CO2 emissions (metric tons per capita),Current health expenditure (% of GDP),Domestic general government health expenditure (% of GDP),Domestic private health expenditure (% of current health expenditure),Ease of doing business score (0 = lowest performance to 100 = best performance),"Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Employment to population ratio, 15+, total (%) (modeled ILO estimate)",GDP per capita (current US$),...,Logistics performance index: Overall (1=low to 5=high),Military expenditure (% of GDP),Mobile cellular subscriptions (per 100 people),"Mortality rate, under-5 (per 1,000 live births)","Primary completion rate, total (% of relevant age group)",Proportion of seats held by women in national parliaments (%),Rural population (% of total population),Strength of legal rights index (0=weak to 12=strong),"Suicide mortality rate (per 100,000 population)","Unemployment, total (% of total labor force) (modeled ILO estimate)"
country_code,,,,,,,,,,,,,,,,,,,,,
ABW,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30841.827649,...,NaN,NaN,132.625995,NaN,NaN,NaN,56.499000,NaN,NaN,NaN
AFE,43.867866,NaN,0.914914,6.273200,3.032919,39.948103,53.332704,NaN,66.512569,1521.216726,...,2.492222,1.121499,70.647443,60.727079,NaN,29.106899,63.869862,4.538462,8.067157,6.853290
AFG,97.338710,NaN,0.160981,13.537049,0.906027,78.372658,44.111123,NaN,42.110332,491.342373,...,1.950000,1.081069,59.277629,60.833333,84.762169,27.868852,74.332333,10.000000,4.100000,11.195333
AFW,51.280033,NaN,0.491434,3.375120,0.744711,65.022605,49.372293,NaN,56.688298,1753.280448,...,2.413333,0.887280,94.497284,97.426573,NaN,15.372006,52.960385,5.863636,5.416273,6.055939
AGO,45.525200,NaN,0.787316,2.535607,1.052493,55.266846,41.259603,NaN,71.495000,2293.513504,...,2.050000,1.719752,45.442598,75.233333,NaN,30.151515,34.044000,1.000000,6.066667,7.421000

In [23]:
# remove multiindex
dtransform3_df = dtransform3_df.rename_axis(None)
dtransform3_df.reset_index(inplace=True)
# dtransform3_df = dtransform3_df.rename({'series_name': 'country_code'})
# dtransform3_df.to_csv('WDI.csv')
dtransform3_df.head()

series_name,index,Access to electricity (% of population),Bribery incidence (% of firms experiencing at least one bribe payment request),CO2 emissions (metric tons per capita),Current health expenditure (% of GDP),Domestic general government health expenditure (% of GDP),Domestic private health expenditure (% of current health expenditure),Ease of doing business score (0 = lowest performance to 100 = best performance),"Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Employment to population ratio, 15+, total (%) (modeled ILO estimate)",...,Logistics performance index: Overall (1=low to 5=high),Military expenditure (% of GDP),Mobile cellular subscriptions (per 100 people),"Mortality rate, under-5 (per 1,000 live births)","Primary completion rate, total (% of relevant age group)",Proportion of seats held by women in national parliaments (%),Rural population (% of total population),Strength of legal rights index (0=weak to 12=strong),"Suicide mortality rate (per 100,000 population)","Unemployment, total (% of total labor force) (modeled ILO estimate)"
0,ABW,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,132.625995,NaN,NaN,NaN,56.499000,NaN,NaN,NaN
1,AFE,43.867866,NaN,0.914914,6.273200,3.032919,39.948103,53.332704,NaN,66.512569,...,2.492222,1.121499,70.647443,60.727079,NaN,29.106899,63.869862,4.538462,8.067157,6.853290
2,AFG,97.338710,NaN,0.160981,13.537049,0.906027,78.372658,44.111123,NaN,42.110332,...,1.950000,1.081069,59.277629,60.833333,84.762169,27.868852,74.332333,10.000000,4.100000,11.195333
3,AFW,51.280033,NaN,0.491434,3.375120,0.744711,65.022605,49.372293,NaN,56.688298,...,2.413333,0.887280,94.497284,97.426573,NaN,15.372006,52.960385,5.863636,5.416273,6.055939
4,AGO,45.525200,NaN,0.787316,2.535607,1.052493,55.266846,41.259603,NaN,71.495000,...,2.050000,1.719752,45.442598,75.233333,NaN,30.151515,34.044000,1.000000,6.066667,7.421000

In [26]:
# rename columns
dtransform3_df.columns = ['counry_code', "Access_to_electricity", "Bribery_incidence", "CO2_emissions", "Current_health_expenditure",
    "Government_health_expenditure", "Private_health_expenditure", "Ease_of_Doing_Business", "Completed_Secondary_Education",
    "Employemnt_to_population", "GDP_per_capital", "GDP_per_capita_growth", "Gini", "Household_consumption_per_capital",
    "Labor_force_participation", "Literacy_rate_Female", "Literacy_rate_Male", "Literacy_rate_total", "Logistics_index",
    "Military_expenditure", "Cellular_subscription_per_one_humdred", "Mortality_rate_under_five", "Completed_primary_education", "Proportion_of_women_in_parliament",    "Percent_rural_population", "Strenth_of_legal_rights", "Suicide_rate", "Unemployment"]
dtransform3_df.head()

,counry_code,Access_to_electricity,Bribery_incidence,CO2_emissions,Current_health_expenditure,Government_health_expenditure,Private_health_expenditure,Ease_of_Doing_Business,Completed_Secondary_Education,Employemnt_to_population,...,Logistics_index,Military_expenditure,Cellular_subscription_per_one_humdred,Mortality_rate_under_five,Completed_primary_education,Proportion_of_women_in_parliament,Percent_rural_population,Strenth_of_legal_rights,Suicide_rate,Unemployment
0,ABW,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,132.625995,NaN,NaN,NaN,56.499000,NaN,NaN,NaN
1,AFE,43.867866,NaN,0.914914,6.273200,3.032919,39.948103,53.332704,NaN,66.512569,...,2.492222,1.121499,70.647443,60.727079,NaN,29.106899,63.869862,4.538462,8.067157,6.853290
2,AFG,97.338710,NaN,0.160981,13.537049,0.906027,78.372658,44.111123,NaN,42.110332,...,1.950000,1.081069,59.277629,60.833333,84.762169,27.868852,74.332333,10.000000,4.100000,11.195333
3,AFW,51.280033,NaN,0.491434,3.375120,0.744711,65.022605,49.372293,NaN,56.688298,...,2.413333,0.887280,94.497284,97.426573,NaN,15.372006,52.960385,5.863636,5.416273,6.055939
4,AGO,45.525200,NaN,0.787316,2.535607,1.052493,55.266846,41.259603,NaN,71.495000,...,2.050000,1.719752,45.442598,75.233333,NaN,30.151515,34.044000,1.000000,6.066667,7.421000

In [30]:
# inner join to drop countries not in happiness index
countries = pd.read_csv("countires.csv")
dtransform3_df = dtransform3_df.merge(countries, how = 'inner', on='country_code',)

KeyError: 'country_code'